:root {
  --bg-color: #ffffff;
  --red: #d94443;
  --bottom-svg-height: 160;
  --bottom-svg-width: 1920;
  --bottom-svg-ratio: calc(
    100% * var(--bottom-svg-height) / var(--bottom-svg-width)
  );
}

@font-face {
  font-family: "sarbaz";
  src: url("../fonts/Sarbaz.woff2") format("woff2");
}

/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "aviny";
  src: url("../fonts/aviny.eot"); /* IE9 Compat Modes */
  src: url("../fonts/aviny.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/aviny.otf") format("opentype"),
    /* Open Type Font */ url("../fonts/aviny.svg") format("svg"),
    /* Legacy iOS */ url("../fonts/aviny.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/aviny.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/aviny.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "sanslight";
  src: url(../fonts/IRANSansLight.woff) format("woff");
}

.inbody {
  background-color: #ffffff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  animation: slide-down 0.7s;
}

@keyframes slide-down {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

/***** General  ******/
.title-aviny-red {
  font-family: aviny;
  color: var(--red);
}

.title-aviny-white {
  font-family: aviny;
  color: #ffffff;
}

.bottom-svg {
  fill: var(--red);
  width: 100%;
  position: absolute;
  display: block;
  left: 0;
  bottom: -1px;
  height: auto;
}

/***** General end ******/

/***** main-header *****/
.main-header {
  position: relative;
  padding-bottom: var(--bottom-svg-ratio);
}

.navbar {
  font-family: "sarbaz";
}

.navbar-light .navbar-nav .nav-link {
  color: #898270;
}

@media (min-width: 768px) {
  .navbar {
    height: 110px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.03);
  }

  .inbody {
    height: 55px;
  }
}

/***** main-header end *****/

/***** banner *****/
.banner-image {
  height: 350px;
  width: 100%;
  object-fit: contain;
}

.banner p {
  font-family: sanslight;
  color: #898270;
  line-height: 2;
  direction: rtl;
}

/***** banner end *****/

/***** About *****/
#about {
  background-color: var(--red);
  position: relative;
  padding-bottom: var(--bottom-svg-ratio);
  height: 90vh;
}

#about p {
  font-family: sanslight;
  color: #ffffff;
  line-height: 2;
  direction: rtl;
}

/***** About end *****/

/****** skills  ******/
#skills {
  background: url(../img/side1.svg) no-repeat top left;
  background-size: contain;
}

#skills .category-box {
  box-shadow: 0px 10px 30px rgba(55, 43, 125, 0.1);
  border-radius: 25px;
  padding: 15px;
  margin: 5px;
}

#skills .category-box a {
  text-decoration: none;
  color: #898270;
}

#skills .category-box:hover {
  box-shadow: 0px 10px 30px rgba(252, 185, 178, 1);
}

#skills .category-box:hover img {
  transition: all 0.1s ease-in;
  filter: grayscale(100%);
}

/****** skills  end ******/

/***** latest-post *****/
#latest-post {
  background: url(../img/side2.svg) no-repeat top right;
  background-size: contain;
}

#latest-post p {
  font-family: sanslight;
  color: #898270;
  line-height: 2;
  direction: rtl;
}

#latest-post .box {
  box-shadow: 0px 10px 30px rgba(55, 43, 125, 0.1);
  border-radius: 25px;
}

/***** latest-post end *****/

/***** Testimonial *****/
#testimonial {
  position: relative;
  padding-bottom: var(--bottom-svg-ratio);
  margin-top: 200px;
  /* background-color: #898270; */
}

#testimonial .img-frame {
  background: url(../img/frame.svg) no-repeat center center;
  background-size: contain;
  width: 350px;
  height: 350px;
  position: relative;
  top: 30px;
}

/***** footer  *****/
#main-footer {
  background-color: var(--red);
}
