:root {
  --bg-color: #ffffff;
  --red: #D94443;
  --bottom-svg-height: 160;
  --bottom-svg-width: 1920;
  --bottom-svg-ratio: calc(100% * var(--bottom-svg-height) / var(--bottom-svg-width));
}

@font-face {
  font-family: 'sarbaz';
  src: url('../fonts/Sarbaz.woff2') format('woff2');
}

@font-face {
  font-family: 'aviny';
  src: url('../fonts/aviny.ttf') format('ttf');
}

@font-face {
  font-family: 'sanslight';
  src: url(../fonts/IRANSansLight.woff) format('woff');
}

.inbody {
  background-color: #ffffff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  animation: slide-down 0.7s;
}

@keyframes slide-down {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

.main-header {
  position: relative;
  padding-bottom: var(--bottom-svg-ratio);
}

.navbar {
  font-family: 'sarbaz';

}

.navbar-light .navbar-nav .nav-link {
  color: #898270;
}

@media (min-width: 768px) {
  .navbar {
    height: 110px;
    border-bottom: 1px solid rgba(0, 0, 0, .03);
  }

  .inbody {
    height: 55px;
  }

}

.banner-image {
  height: 350px;
  width: 100%;
  object-fit: contain;
}

.title-aviny-red {
  font-family: aviny;
  color: var(--red);
}

.title-aviny-white {
  font-family: aviny;
  color: #ffffff;
}

.banner p {
  font-family: sanslight;
  color: #898270;
  line-height: 2;
  direction: rtl;
}

.bottom-svg {
  fill: var(--red);
  width: 100%;
  position: absolute;
  display: block;
  left: 0;
  bottom: -1px;
  height: auto;
}

#about {
  background-color: var(--red);
  position: relative;
  padding-bottom: var(--bottom-svg-ratio);
  height: 90vh;
}

#about p {
  font-family: sanslight;
  color: #ffffff;
  line-height: 2;
  direction: rtl;

}

#latest-post {
  position: relative;
  padding-bottom: var(--bottom-svg-ratio);
}
#latest-post p{
  font-family: sanslight;
  color: #898270;
  line-height: 2;
  direction: rtl;
}
.box {
  /* border: 2px solid #95C623; */
  box-shadow: 0 0 5px 1px rgba(149,198,35,1);
  border-radius: 10px;
}

#main-footer {
  background-color: var(--red);
}
